html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: black;
    color: white;
  }
  
  header h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 1.5rem;
    color: white;
    margin: 10px 0 10px 0; /* 아래쪽 여백 추가 */
  }

  .nav-section {
    display: flex;
    justify-content: space-between; /* 버튼과 Import를 양쪽으로 배치 */
    align-items: center;
    margin-top: 10px;
  }
  
  .nav-buttons {
    display: flex; 
    gap: 20px;
  }  
  
  .nav-buttons button {
    background: none; 
    border: none;
    color: white;
    font-family: 'Arial', sans-serif; 
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
  }
  .nav-buttons button:hover {
    color: grey
  }
  .import-button button {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    cursor: pointer;
  }
  
  .import-button button:hover {
    background-color: #007bff;
    color: white;
  }